@import url(./global.css);

h2 {
    text-align: center;
    margin: 0;
    font-size: 5vw;
    font-weight: 900;
    color: #000;
    margin-bottom: 35px;
}

p {
    font-size: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.transition {
    text-align: center;
    font-size: 3vw;
    margin-top: 50px;
}

.level_buttons {
    margin-top: clamp(15px, 2vw, 30px);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.level_buttons input {
    margin: clamp(5px, 1.2vw, 15px);
    width: 25%;
}