@import url(./global.css);

h1 {
    text-align: center;
    margin: 0;
    font-size: clamp(24px, 9vw, 96px);
    font-weight: 900;
    color: #000;
}

nav {
    margin-top: clamp(20px, 9.3vh, 100px); /* 最小20px、推奨9.3vh、最大100px（例）*/
}

.transition {
    text-align: center;
    font-size: clamp(16px, 2.1em, 32px);
    margin: clamp(5px, 1.7vw, 20px);
}