<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Word Chain</title>
		<link rel="stylesheet" href="../static/style_level.css">
	</head>
	<body>
		<header>
			<input type="image" src="../images/Hamburger_Menu.png"/>
			<h3>
				<a href="">Word Chain</a>
			</h3>
		</header>
		<h2>対戦相手の難易度</h2>
		<div class="level_buttons">
			<input type="image" src="../images/Off_Button_Easy.png"/>
			<input type="image" src="../images/Off_Button_Medium.png"/>
			<input type="image" src="../images/Off_Button_Hard.png"/>
		</div>
		<nav>
            <p class="transition">
				<a href="">Back</a>
			</p>
		</nav>
	</body>
</html>